@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


<form">
    <input type="checkbox" id="ID" name="Id" value="1003">
    <label for="vehicle1"> 1003</label><br>
    <input type="checkbox" id="name" name="Name" value="Tien Dat">
    <label for="vehicle2"> Tien Dat</label><br>
    <input type="checkbox" id="age" name="Age" value="21">
    <label for="vehicle3">21</label><br><br>

    <input type="submit" id="btnSubmit" value="Add User" />


    <p id="text" style="display:none">Checkbox is CHECKED!</p>
    </form>

    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script>

        // JavasCriptCode
       

        // JqueryCode
        /* $('#btnSubmit').click(function (event) {
             event.preventDefault();
             alert("Hello Jayson");


         })*/

        // AJax

        var ID = $('#ID').val();
        var Name = $('#name').val();
        var Age = $('#age').val();

        var checkedID = document.getElementById("ID");
        var checkedName = document.getElementById("name");
        var checkedAge = document.getElementById("age");

        $(document).ready(function () {
            $(function () {
                $('#btnSubmit').click(function (event) {
                    console.log(checkedName.checked);

                    event.preventDefault();
                    var Student = {
                        ID: ID,
                        Name: Name,
                        Age: Age,

                        CheckedID: checkedID.checked,
                        CheckedName: checkedName.checked,
                        CheckedAge: checkedAge.checked,
                    };

                    $.ajax({
                        type: "POST",
                        url: "/Home/JqAJAX",
                        data: JSON.stringify(Student),
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            alert(data.msg);
                        },
                        error: function () {
                            alert("Error occured!!")
                        }
                    })
                })
            })
        })



    </script>
